body {
	font-family: 'Hind Siliguri', sans-serif;
}

header {
	background-color: #591e0e;
}

.logo {
	display: table;
	margin: 0 auto;
}

@media all and (min-width: 0) {
	.cardapio-dia {
		max-width: 80%;
	}	
}

@media all and (min-width: 1024px) {
	.cardapio-dia {
		max-width: 60%;
	}	
}

.cardapios {
	flex-wrap: wrap;
	margin: 0 auto;
}

.cardapios--content {
	display: flex;
	text-align: left;
}

.cardapio-dia .cardapios--content {
	flex-wrap: wrap;
}

.cardapio-dia h2 {
	flex-basis: 100%;
}

.item--cardapio b {
	display: inline-block;
	min-width: 250px;
	text-align: left;
}

.rhamses {
	flex-wrap: wrap;
}

.amb1 {
	margin-left: auto;
	margin-right: auto;
}